<<!-- primera vista generada con su controllador -->
<div class="row center-xs middle-xs">
  <h1 class="white h1-big">Bienvenidos a My Store</h1>

</div>
<div class="column">
  <p class="row center-xs middle-xs white">Ejercicio elaborado en RoR donde se pretende poder crear marcas
  , crear productos, editarlos, borrarlos y listarlos</p>

</div>
<div class="row center-xs middle-xs">
<%= image_tag("logo.png", :alt => "rss feed",:size => "400x400") %>
</div>
