<h1 class="white">Listado de marcas!</h1>
<%@brands.each do |brand|%>
  <h3 class="white"><%=brand.name %>-<%= link_to"Eliminar" ,brand,:confirm => "Seguro desea eliminar esta marca?",method: :delete%></h3>


  <%end%>
